.task_logs *+.task_log {
    margin-top: 15px;
}

.task_logs .task_log {
    padding: 10px;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.task_logs .task_log .task_log_header {
    margin: -10px -10px 10px;
    padding: 10px;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    background-color: #fff;
}

.task_logs .task_log_title,
.task_logs .task_log .task_log_header .task_log_user {
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    margin: -10px 10px -10px -10px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
}

.task_logs .task_log .task_log_header .task_log_user {
    padding: 10px 5px 10px 10px;
}

.task_logs .task_log_date,
.task_logs .task_log_title {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    background-color: #fff;
}

.task_logs .task_log .task_log_content {
    margin: -10px;
}

.task_logs .task_log .task_log_content {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.task_logs .task_log .task_log_content > *+div {
    border-left: solid 1px rgba(0,0,0,0.2);
}

.task_logs .task_log .task_log_content > div > *:last-child {
    margin-bottom: 0;
}

.task_logs .task_log .task_log_content .task_log_old_content,
.task_logs .task_log .task_log_content .task_log_new_content {
    padding: 10px;
}

.task_logs .task_log .task_log_content .task_log_old_content {
    background-color: rgba(240,80,110, 0.1);
}

.task_logs .task_log .task_log_content .task_log_new_content {
    background-color: rgba(50,210,150, 0.1);
}