/*!* Checklists *!*/
.new_task_checklist {
    margin: 0;
}

.new_task_checklist > div:last-of-type {
    padding-left: 5px;
}

.new_task_checklist_item .new_task_checklist_item_input,
.new_task_checklist .new_task_checklist_input {
    padding: 8px 10px;
    background-color: #fff;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 100%;
    outline: none;
    font-size: 14px;
    line-height: 18px;
}

.new_task_checklist_item {
    margin: 0 -10px 0;
    padding: 10px 10px 0;
    border-top: solid 1px rgba(0,0,0,0.2);
}

.new_task_checklist_item > div:last-of-type {
    padding-left: 5px;
}

.task_checklists {
    margin: 0;
}

.task_checklist:last-of-type {
    margin-bottom: 10px !important;
}

.task_checklist,
.task_checklists .task_checklist {
    margin-bottom: 10px;
    padding-bottom: 10px !important;
}

.task_checklist_name_wrapper,
.task_checklists .task_checklist .task_checklist_name_wrapper {
    margin: -10px -10px 0;
    padding: 10px;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.task_checklist_name_wrapper:focus-within,
.task_checklists .task_checklist .task_checklist_name_wrapper:focus-within {
    background-color: #f1f1f1;
}

.task_checklist_name,
.task_checklists .task_checklist .task_checklist_name_wrapper .task_checklist_name {
    outline: none;
    line-height: 30px;
}

.task_checklist_options_dropdown_wrapper,
.task_checklists .task_checklist .task_checklist_name_wrapper .task_checklist_options_dropdown_wrapper {
    padding-left: 5px;
    position: relative;
}

.task_checklist_options_dropdown_wrapper > * {
    visibility: hidden;
}

.task_checklist_name_wrapper:hover .task_checklist_options_dropdown_wrapper > *,
.task_checklist_name_wrapper:focus-within .task_checklist_options_dropdown_wrapper > * {
    visibility: visible;
}

.save_task_checklist_name,
.cancel_task_checklist_name,
.task_checklists .task_checklist .task_checklist_name_wrapper .save_task_checklist_name,
.task_checklists .task_checklist .task_checklist_name_wrapper .cancel_task_checklist_name {
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px !important;
    padding: 0 !important;
}

.task_checklist_options_wrapper,
.task_checklists .task_checklist .task_checklist_name_wrapper .task_checklist_options_wrapper {
    padding-left: 10px;
}

.task_checklist_item,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item {
    background-color: #fff;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-top: solid 1px rgba(0,0,0,0.2);
}

.task_checklist_item.complete,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item.complete {
    background-color: #f1f1f1 !important;
}

.task_checklist_item.complete .task_checklist_item_name,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item.complete .task_checklist_item_name {
    text-decoration: line-through;
    color: rgba(0,0,0,0.2);
}

.task_checklist_item.uk-sortable-drag {
    border: solid 1px rgba(0,0,0,0.2);
}

.task_checklist_item:last-of-type,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.task_checklist_item:focus-within,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item:focus-within {
    background-color: #f1f1f1;
}

.task_checklist_item_name,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item .task_checklist_item_name {
    outline: none;
    line-height: 30px;
}

.task_checklist_item_checkbox_wrapper,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item .task_checklist_item_name_wrapper .task_checklist_item_checkbox_wrapper {
    padding-right: 10px;
}

.task_checklist_item_checkbox_wrapper .uk-checkbox,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item .task_checklist_item_name_wrapper .task_checklist_item_checkbox_wrapper .uk-checkbox {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.1);
}

.task_checklist_item_name_wrapper .task_checklist_item_checkbox:focus,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item .task_checklist_item_name_wrapper .task_checklist_item_checkbox:focus {
    border-color: rgba(0,0,0,0.2) !important;
}

.task_checklist_item_name_wrapper .task_checklist_item_checkbox:checked,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item .task_checklist_item_name_wrapper .task_checklist_item_checkbox:checked {
    background-color: #33d296;
}

.save_task_checklist_item_name,
.cancel_task_checklist_item_name,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item .save_task_checklist_item_name,
.task_checklists .task_checklist .task_checklist_items .task_checklist_item .cancel_task_checklist_item_name {
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px !important;
    padding: 0 !important;
}

.task_checklist_item_options_dropdown_wrapper,
.task_checklists .task_checklist_item .task_checklist_item_name_wrapper .task_checklist_item_options_dropdown_wrapper {
    padding-left: 5px;
    position: relative;
}

.task_checklist_item_name_wrapper .task_checklist_item_options_dropdown_wrapper > * {
    visibility: hidden;
}

.task_checklist_item_name_wrapper:hover .task_checklist_item_options_dropdown_wrapper > *,
.task_checklist_item_name_wrapper:focus-within .task_checklist_item_options_dropdown_wrapper > * {
    visibility: visible;
}

/* UIkit override just for checklist items.. */
.uk-sortable-empty,
.task_checklists_wrapper .uk-sortable-empty {
    display: none;
}

html.uk-drag .uk-sortable-empty,
html.uk-drag .task_checklists_wrapper .uk-sortable-empty {
    display: block;
}

html.uk-drag .uk-sortable-drag .uk-sortable-empty {
    display: none;
}

.uk-sortable-placeholder {
    background-color: rgba(0,0,0,0.2);
}

.checklist_group_progress {
    margin: 0 -10px;
}