.statistic_achievements,
.statistic_1_star_days,
.statistic_2_star_days,
.statistic_3_star_days,
.statistic_4_star_days,
.statistic_5_star_days {
    float: right;
    background-color: #ffa500;
    color: white;
    padding: 0 5px;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.2);
}

.journal_report_navigation {
    margin-bottom: 10px;
}

.journal_report_navigation .journal_report_calendar_left,
.journal_report_navigation .journal_report_calendar_right {
    line-height: 20px;
    padding: 10px;
    border-radius: 4px;
}

.journal_report_navigation .journal_report_calendar_left:hover,
.journal_report_navigation .journal_report_calendar_right:hover {
    background-color: #f1f1f1;
}