.task_row {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px transparent;
}

.task_row:hover {
    background-color: #f1f1f1;
    border-color: rgba(0,0,0,0.1);
}

.task_row .task_priority,
.task_row .task_issue_type {
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    min-height: 20px;
    min-width: 30px;
    padding: 0 5px;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.2);
}

.task_name {
    font-size: 14px;
}