/* Overriding Body */
body {
    background-color: #fff !important;
}

/* Task Header */
#task .banner h2 {
    font-size: 16px !important;
    line-height: 30px !important;
}

#task .banner h2[contenteditable] {
    outline: none;
    padding: 0 10px;
}

#task .banner h2[contenteditable]:focus {
    background-color: rgba(0,0,0,0.1);
}

#task .banner .task_info {
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.2);
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.3);
}

/* Task Sidebar  */
#task .task_sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    background-color: rgb(246,246,246);
    height: 100vh;
    padding: 105px 30px 30px 30px;
    border-left: solid 1px rgba(0,0,0,0.2);
    transition: 0.5s;
}

#task.task_sidebar_closed .task_sidebar {
    right: -400px !important;
}

#task.task_sidebar_open .task_sidebar {
    right: 0;
}

#task .task_sidebar *+.task_timelog_row {
    margin-top : 10px;
}

#task .task_sidebar .task_timelog_row .task_timelog_time_spent {
    min-width: 50px;
}

#task .task_sidebar .task_timelog_row .task_timelog_time_spent_percent {
    padding-left: 10px;
}

#task .task_sidebar .task_label {
    font-size: 14px;
    color: rgba(0,0,0,0.3);
}

@media(min-width: 991px) {
    #task .task_sidebar {
        right:  0;
    }
}

/* Task Content */
#task .task_content {
    padding: 0;
    transition: 0.5s;
}

#task .task_content .comment:hover,
#task .task_content .description:hover {
    cursor: pointer;
    opacity: 0.8;
}

#task .task_content .description > *:last-of-type {
    margin-bottom: 0;
}

@media(min-width: 991px) {
    #task .task_content {
        padding: 0 400px 0 0;
    }
}

#task.task_sidebar_closed .task_content {
    padding:  0 !important;
}

/*  Dark Theme ------------------------------------------------------------------------------------------------------ */

.dark-theme #task .task_sidebar {
    background-color: #15202b !important;
}

.dark-theme #task .task_content .section {
    background-color: #273038 !important;
}

/*  /Dark Theme ----------------------------------------------------------------------------------------------------- */