.project_advanced_search {
    margin-left: 5px;
}

.project_advanced_search,
.project_settings_button {
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.2);
    color: #fff !important;
    padding: 5px 10px;
}

.project_advanced_search:hover,
.project_settings_button:hover {
    background-color: rgba(0,0,0,0.2);
}

table .badge {
    margin-right: 0;
}

/* Project Sidebar */
.project_sidebar {
    position: fixed;
    right: -400px;
    top: 0;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
    border-left: solid 2px rgba(0,0,0,0.1);
    padding: 20px;
}


.project_sidebar #task_search {
    padding: 0 10px;
    width: 100%;
    line-height: 34px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.2);
}

.project_sidebar.open {
    right: 0;
}

.project_sidebar h2 {
    font-size: 20px;
    line-height: 30px;
}

.project_sidebar h2 a.close_project_sidebar {
    float: right;
}

.project_sidebar h3 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.project_sidebar *+.checkbox_row {
    margin-top: 5px;
}

.project_sidebar .checkbox_row input[type=checkbox] {
    margin-right: 5px;
}

.project_sidebar .checkbox_row label {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.project_sidebar .clear_filters {
    display: inline-block;
    margin-top: 20px;
}

/* Project Content */
.project_content {
    padding: 20px;
}
