.project_image {
    margin: -20px 20px -20px -20px;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    color: #fff;
    font-size: 30px;
}

.project_progress {
    font-size: 16px !important;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,0.5 );
}