.timelog_date_picker_wrapper {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.timelogs {
    border: solid  1px rgba(0,0,0,0.2);
    border-bottom: 0;
    border-top: 0;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
    max-height: calc(100vh - 138px);
}

.timelogs > div {
    min-width: 1500px;
}

.timelogs  .timelog_day_wrapper {
    width: 14.285714285714%;
    border: solid 1px rgba(0,0,0,0.2);
    border-top: 0;
    border-right: 0;
    padding: 10px;
    position: relative;
}

.timelog_day_wrapper:first-of-type {
    border-left: 0;
}

.timelog_day_wrapper .add_timelog_entry {
    display: block;
    background-color: #1e87f0;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 10px;
    visibility: hidden;
}

.timelog_day_wrapper:hover .add_timelog_entry {
    visibility: visible;
}

.timelog_calendar_left,
.timelog_calendar_right {
    line-height: 20px;
    padding: 10px;
    border-radius: 4px;
}

.timelog_calendar_left:hover,
.timelog_calendar_right:hover {
    background-color: #f1f1f1;
}

.timelog_day_wrapper {
    position:  relative;
}
.timelog_day_wrapper .timelog_date {
    position: sticky;
    top:  0;
    left: 0;
    background-color: #fff;
}

.timelog_day_wrapper.today,
.timelog_day_wrapper.today .timelog_date {
    background-color: #f1f1f1;
}

.add_timelog_entry:hover {
    opacity: 0.8;
}

#add_timelog_modal .uk-modal-dialog {
    width: 500px;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.2);
}

#add_timelog_modal .uk-modal-dialog input,
#add_timelog_modal .uk-modal-dialog textarea {
    width: 100%;
    border-radius: 4px;
    border: solid 1px #bbb;
    padding: 5px 10px;
    line-height: 30px;
    font-size: 16px;
}

.timelogs .timelog_entry {
    padding: 10px;
    border: solid 1px rgba(0,0,0,0.2);
    background-color: #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.timelogs .timelog_entry:last-of-type {
    margin-bottom: 0;
}

.timelogs .timelog_date_title {
    padding: 10px 0;
}

.task_search_input_wrapper {
    position: relative;
}

.task_search_input_wrapper i {
    position: absolute;
    top: 13px;
    right: 13px;
    display: none;
}

.task_search_input_wrapper .dropdown {
    width: 100%;
    right: -10px;
}