* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}

*+h2 {
    margin-top: 15px;
}

h2.title_small {
    font-size: 16px;
    line-height: 30px;
}

a {
    color: #444;
    text-decoration: none !important;
}

a:hover {
    color: #444;
}

/* PreDefined Background colors */
.bg_orange {
    background-color: #ffa500;
}

.bg_primary {
    background-color: #15202b;
}

.bg_blue {
    background-color: #1e87f0;
}

.bg_grey {
    background-color: #e1e1e1;
}

.bg_red {
    background-color: #f0506e;
}

.bg_green {
    background-color: #32d296;
}

.uk-container {
    width: 100%;
    max-width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
}

.uk-modal-title {
    font-size: 20px;
    line-height: 30px;
}

[class*=uk-modal-close-] {
    top: 19px;
}

/* Start of the applications core styles. */

body {
    padding-left: 250px;
    min-height: 100vh;
    overflow-x: hidden;
    transition: 0.5s;
}

header {
    background-color: #15202b;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    width: 250px;
    transition: 0.5s;
}

header .top {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 30px 0;
}

header .bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    padding: 0px 30px 20px;
}

header a {
    display: block;
    margin: 10px 0 0;
    line-height: 35px;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    text-decoration: none !important;
}

header a:first-of-type {
    margin-top: 0;
}

header a span.link_badge {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-right: 15px;
    position: relative;
}

header a span.link_text {
    font-size: 12px;
    font-weight: 500;
}

header a.icon {
    background-color: transparent;
    font-size: 16px;
}

header a:hover,
header a.icon:hover,
header a:hover,
header a.active,
header a:focus,
header a:hover span.link_badge,
header a:focus span.link_badge,
header a.active span.link_badge {
    background-color: #ffa500;
    color: #fff;
    outline: none;
    border-radius: 30px;
}

header a.logo .link_badge {
    text-transform: uppercase;
}

@media(max-width: 800px) {
    body {
        padding-left: 64px;
    }

    header {
        width: 64px;
    }

    header a span.link_text {
        display: none;
    }

    header .top,
    header .bottom {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    header a {
        display: block;
        width: 34px;
        height: 34px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

body.login {
    padding: 0 !important;
    background-color: #15202b;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

body.login .login_wrapper {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

body.login .login_wrapper .login_title {
    background-color: rgba(0,0,0,0.4);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    border-left: solid 4px #ffa500;
}

body.login .login_wrapper .login_title h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #fff;
}

body.login .login_wrapper .login_title a {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #ffa500;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 0;
    left: -40px;
}

body.login .login_wrapper .login_title a:nth-child(2) {
    top: 40px;
}

body.login .login_wrapper .login_title a:nth-child(3) {
    top: 80px;
}

@media (max-width: 767px) {
    body.login .login_wrapper .login_title a {
        left: 0;
        top: -40px !important;
    }

    body.login .login_wrapper .login_title a:nth-child(2) {
        left: 40px;
    }

    body.login .login_wrapper .login_title a:nth-child(3) {
        left: 80px;
    }
}

body.login .login_form {
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

body.login .login_form input {
    margin-top: 10px;
    line-height: 38px;
    padding: 0 10px;
    outline: 0;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #ffa500;
    color: #fff;
}

body.login .login_form input:focus {
    background-color: rgba(0,0,0,0.2);
    border-color: #fff;
}

body.login .login_form input::placeholder {
    color: rgba(255,255,255,0.5);
}

body.login .login_form input:first-of-type {
    margin-top: 0;
}

body.login .login_form p {
    text-align: center;
    color: #fff;
}

body.login .login_form p:last-of-type {
    margin-bottom: 0;
}

body.login .login_form a {
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
    color: #ffa500;
}

body.login .login_form p a:last-of-type {
    margin-right: 0;
}

body.login .login_form .uk-button {
    width: 100%;
    margin-top: 20px;
    text-transform: initial;
    border-radius: 4px;
    background-color: #ffa500;
}

body.login .login_form .uk-button:hover,
body.login .login_form .uk-button:focus {
    opacity: 0.9;
}

body.login .login_form p:last-of-type {
    margin-top: 10px;
    margin-bottom: 0;
}

body .sidebar {
    width: 500px;
    height: 100vh;
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: -500px;
    background-color: #15202b;
    transition: 0.5s;
}

body .sidebar > div {
    padding: 20px;
}

body .sidebar > div:first-of-type {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.1);
    border-right: solid 1px rgba(0,0,0,0.2);
}

body .sidebar > div:last-of-type {
    padding: 20px 40px;
}

body .sidebar > div h2,
body .sidebar > div h3 {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}

body .sidebar > div h3 {
    font-size: 12px;
    line-height: 20px;
}

body .sidebar > div ul {
    list-style-type: none;
    padding: 0;
}

body .sidebar > div ul li {
    margin-bottom: 5px;
    margin-left: -10px;
}

body .sidebar > div ul li a {
    color: #fff;
    display: block;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 4px;
}

body .sidebar > div hr {
    border-color: #ffa500;
}

body .sidebar > div ul li a:hover {
    background-color: #ffa500;
}

body .sidebar > div ul li a i {
    margin-right: 10px;
}

body .sidebar .sidebar_close {
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    display: block;
    text-align: center;
}

body .sidebar_close:hover {
    background-color: #ffa500;
}

body .sidebar.open {
    left: 0;
}

body #notifications_sidebar_button {
    position: relative;
}

body #notifications_sidebar_button .notification_number_badge {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 18px;
    background-color: #f0506e;
    color: #fff;
    line-height: 18px;
    text-align: center;
    font-size: 8px;
    border-radius: 50%;
}

body #search_sidebar .search_sidebar_input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #ffa500;
    outline: none;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}

body #search_sidebar .search_sidebar_input:focus,
body #search_sidebar .search_sidebar_input:hover {
    border-color: #fff;
}

body #search_sidebar .search_sidebar_input::placeholder {
    color: rgba(255,255,255,0.3);
}

body.sidebar_open {
    overflow: hidden;
}

body.sidebar_open .sidebar_open_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

body #add_sidebar .add_sidebar_options {
    border-bottom: solid 2px rgba(255,255,255,0.5);
}

body #add_sidebar .sidebar_add_new_task,
body #add_sidebar .sidebar_add_new_project {
    padding: 5px 10px;
    border-bottom: solid 2px transparent;
    display: inline-block;
    color: #fff;
    border-left: 0;
    text-align: center;
    margin-bottom: -2px;
    font-weight: 300;
    font-size: 14px;
}

body #add_sidebar .sidebar_add_new_task i,
body #add_sidebar .sidebar_add_new_project i {
    margin-right: 5px;
}

body #add_sidebar .sidebar_add_new_task.active,
body #add_sidebar .sidebar_add_new_project.active,
body #add_sidebar .sidebar_add_new_task:hover,
body #add_sidebar .sidebar_add_new_project:hover {
    border-color: #ffa500;
    background-color: rgba(0,0,0,0.2);
}

body #add_sidebar .add_new_task,
body #add_sidebar .add_new_project {
    width: 100%;
    padding: 20px 0 0;
    display: none;
}

body #add_sidebar .add_new_task.active,
body #add_sidebar .add_new_project.active {
    display: block;
}

body #add_sidebar .add_new_task > *+div,
body #add_sidebar .add_new_project > *+div {
    margin-top: 5px;
}

body #add_sidebar input,
body #add_sidebar textarea {
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    border: 0;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 10px;
}

body #add_sidebar textarea {
    min-height: 100px;
}

body #add_sidebar input:focus,
body #add_sidebar textarea:focus {
    color: #ffa500;
}

body #add_sidebar .add_new_task label,
body #add_sidebar .add_new_project label {
    font-size: 14px;
    line-height: 40px;
    color: rgba(255,255,255,0.5);
}

.box_wrapper {
    padding: 10px;
    background-color: #fff;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.box_transparent {
    background-color: transparent;
    border: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.box_wrapper_large {
    padding: 20px;
}

.box_wrapper > h2.box_title {
    margin: -10px -10px 10px;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 14px !important;
}

.box_wrapper > *+h2.box_title {
    margin-top: 10px;
}

.box_wrapper > h2 a.reload {
    float: right;
    background-color: rgba(0,0,0,0.1);
    padding: 0 10px;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.1);
}

.box_wrapper h2 a.reload:hover {
    opacity: 0.8;
}

.box_wrapper.box_wrapper_large h2.box_title {
    margin: -20px -20px 20px;
    padding: 10px 20px;
}

.box_wrapper.box_wrapper_large *+h2.box_title {
    margin-top: 20px;
}

.box_wrapper div > p,
.box_wrapper > p:last-of-type {
    margin-bottom: 0;
}

.pagination {
    padding: 10px 0;
    border-top: solid 1px rgba(0,0,0,0.1);
    margin: 10px 10px 0;
}

.pagination a.paginate_previous,
.pagination a.paginate_next {
    display: inline-block;
    padding: 2px 10px;
    background-color: #fff;
    border: solid 1px rgba(0,0,0,0.1);
    font-size: 14px;
    line-height: 20px;
}

.pagination a.paginate_previous {
    margin-right: 10px;
}

.pagination a.paginate_next {
    margin-left: 10px;
}

.pagination a.paginate_previous:hover,
.pagination a.paginate_next:hover {
    background-color: #f1f1f1;
}

.box_padding {
    padding: 20px;
}

.form_element_row:nth-child(1n+2) {
    margin-top: 10px;
}

.form_element_row > div:first-of-type > div {
    margin-right: 15px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    background-color: #ffa500;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    color: #fff;
}

.form_element_row input {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: solid 1px #f1f1f1;
    font-size: 14px;
    border-radius: 4px;
}

.form_element_row input:hover,
.form_element_row input:focus {
    background-color: #f1f1f1;
}

.progress {
    height: 10px;
    width: 100%;
    background-color: #e1e1e1;
}

.progress .progress_percent {
    width: 0;
    height: 10px;
    background-color: #32d296;
    transition: 0.5s;
}

.help_row {
    background-color: rgba(0,0,0,0.2);
    padding: 5px 10px;
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 4px;
}

.help_row:first-of-type {
    margin-top: 10px;
}

.help_badge {
    display: inline-block;
    font-size: 14px;
    background-color: #ffa500;
    width: auto;
    padding: 0 5px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
}

.banner {
    padding: 50px;
    background-color: #ffa500;
}

.banner.banner_strip {
    padding: 20px 30px;
}

.banner.banner_strip h2 {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.banner.banner_strip .badge {
    border: solid 2px #fff;
}


.banner.large {
    padding: 100px;
}

.banner h2 {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.banner_image {
    width: 125px;
    height: 125px;
    border: solid 4px #fff;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

.banner_image i {
    font-size: 50px;
    color: #fff;
}

.badge {
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    min-height: 20px;
    min-width: 30px;
    padding: 0 5px;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.2);
}

.badge.user {
    background-color: #ffa500;
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    line-height: 30px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}


/** Summernote */

.note-editor.note-frame {
    border-color: rgba(0,0,0,0.2) !important;
    border-radius: 4px;
    background-color: #fff;
}

.note-toolbar {
    border: 0 !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.note-statusbar {
    display: none !important;
}

.note-editing-area {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.note-editable {
    padding: 20px !important;
}

.placeholder {
    color: #bbb;
}

div.placeholder {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: solid 1px #f1f1f1;
    font-size: 14px;
    border-radius: 4px;
}

span.small {
    font-size: 10px;
    text-transform: initial;
    color: #bbb;
}

.user_card {
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.user_card h2 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
}

.user_card .fake_image { /* Delete */
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.5s;
    font-size: 40px;
    color: #fff;
}

.user_card span {
    font-size: 12px;
    line-height: 20px;
}

.user_card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: #fff;
}

.ajax_message_helper {
    padding: 10px;
    background-color: #32d296;
    color: white;
    position: fixed;
    width: auto;
    max-width: 400px;
    bottom: 10px;
    left: 75px;
    display: none;
}

.ajax_message_helper.active {
    display: block;
}

.ajax_message_helper > * {
    margin: 0;
}

.ajax_message_helper a {
    margin-left: 10px;
    color: #fff;
}

.uk-button {
    border-radius: 4px;
    line-height: 34px;
    padding: 0 10px;
    text-transform: initial;
}

.uk-button.disabled {
    background-color: #b1b1b1;
}

.uk-table {
    margin-bottom: 0;
}

.uk-table thead {
    border: solid 1px #e5e5e5;
}

.uk-table-striped tbody tr,
.uk-table-striped > tr {
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
}

/* Custom dropdown */

.dropdown_button {
    background-color: #fff;
    border: solid 1px rgba(0,0,0,0.1) !important;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px !important;
    padding: 0 !important;
}

.dropdown_button.large {
    width: auto;
    height: auto;
    line-height: 34px !important;
    padding: 0 10px !important;
    background-color: #1e87f0 !important;
}

.dropdown_button.large:hover {
    opacity: 0.8;
}

.dropdown {
    padding: 10px;
    background-color: #fff;
    border: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    z-index: 10;
    border-radius: 4px;
    display: none;
    min-width: 200px;
}

.dropdown.dropdown_large {
    min-width: 400px;
}

.dropdown.open {
    display: block;
}

.dropdown h2 {
    font-size: 16px;
    border-bottom: solid 1px #aaa;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #444;
}

.dropdown h2 a.uk-button.uk-button-small {
    float: right;
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
}

.dropdown h3 {
    color: #444;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.dropdown label {
    padding-left: 5px;
    font-size: 14px;
}

.dropdown input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.dropdown ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.dropdown ul li a {
    color: #444 !important;
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
    border: solid 1px transparent;
}

.dropdown ul li a:hover {
    background-color: #f1f1f1;
    border: solid 1px rgba(0,0,0,0.1);
}

.dropdown_button:hover {
    background-color: rgba(0,0,0,0.1);
}

.advanced_search_wrapper {
    position: relative;
}

.save,
.cancel {
    padding: 2px 5px;
    font-size: 12px;
    background-color: #e9e9e9;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.2);
}

.save:hover,
.cancel:hover {
    color: #fff;
}

.save {
    background-color: #1e87f0;
    color: #fff;
}

.save:hover {
    opacity: 0.8;
}

.cancel {
    background-color: #e1e1e1;
}

.cancel:hover {
    color: #fff;
    background-color: #f0506e;
}

/** Scrollbar alteration */
::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #15202b;
    outline: 1px solid slategrey;
}

.section {
    padding: 30px;
    background-color: #fff;
}

.section > h2,
.section h2.section_title {
    margin-top: 0;
    color: rgba(0,0,0,0.4);
    font-size: 14px !important;
    margin-bottom: 15px !important;
}

*+.section {
    border-top: solid 1px rgba(0,0,0,0.2);
}

.section.gray {
    background-color: #f1f1f1;
}

.section *:last-of-type {
    margin-bottom: 0;
}


/* Dark Theme ------------------------------------------------------------------------------------------------------- */

body.dark-theme,
body.dark-theme .section {
    background-color: #273038 !important;
}

body.dark-theme .box_wrapper {
    background-color: #36424c !important;
}

body.dark-theme .box_wrapper > h2.box_title {
    background-color: #273038;
    color: #fff;
}
/* /Dark Theme -------------------------------------------------------------------------------------------------------*/