.journal_month {
    position: relative;
    width: 14.245%
}

@media (max-width: 1680px) { .journal_month { width: 16.666%; }}
@media (max-width: 1450px) { .journal_month { width: 20%; }}
@media (max-width: 1260px) { .journal_month { width: 25%; }}
@media (max-width: 1000px) { .journal_month { width: 33.333%; }}
@media (max-width: 780px)  { .journal_month { width: 50%; }}
@media (max-width: 540px)  { .journal_month { width: 100%; }}

.journal_month .journal_active {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #32d296;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.journal_month:hover .box_wrapper {
    opacity: 0.8;
    cursor: pointer;
    border-color: #ffa500;
}

.journal_month h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.journal_month h2 .uk-text-small {
    font-size: 10px;
    color: #bbb;
    font-weight: bold;
}

.journal_calendar_left,
.journal_calendar_right {
    line-height: 20px;
    padding: 10px;
    border-radius: 4px;
}

.journal_calendar_left:hover,
.journal_calendar_right:hover {
    background-color: #f1f1f1;
}

.journal_placeholder_rating i {
    color: rgba(0,0,0,0.1);
}

.journal_rating_badge,
.journal_achievements {
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    padding: 0 5px;
    background-color: #f1f1f1;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 4px;
}