/* Comments */
.large-badge .badge,
.task_comments .comment_item .comment_user .user.badge {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
}

.task_comments > .comment_item:last-of-type {
    margin-bottom: 15px;
}

.task_comments .comment_item {
    padding: 10px 0;
}

.task_comments .comment_item h3 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}

.task_comments .comment_item,
.task_comments .comment_item p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.comments .comment_item .comments .comment_item .comment_options > *+a {
    margin-left: 2px;
}

.task_comment_wrapper {
    padding: 10px;
    border-left: solid 4px rgba(0,0,0,0.1);
    margin: 5px 0;
    background-color: #fff;
}

.task_comment_wrapper .comment_options {
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin: 10px -10px -10px;
}

.task_comments .comment_item .comment_options .edit_comment,
.task_comments .comment_item .comment_options .delete_comment,
.task_comments .comment_item .comment_options .reply_comment {
    padding: 2px 5px;
    font-size: 12px;
    background-color: #e9e9e9;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.2);
}

.task_comments .comment_item .comment_options .edit_comment:hover,
.task_comments .comment_item .comment_options .delete_comment:hover,
.task_comments .comment_item .comment_options .reply_comment:hover {
    color: #fff;
}

.task_comments .comment_item .comment_options .edit_comment:hover {
    background-color: #32d296;
}

.task_comments .comment_item .comment_options .delete_comment:hover {
    background-color: #f0506e;
}

.task_comments .comment_item .comment_options .reply_comment:hover {
    background-color: #1e87f0;
}