.user_profile_wrapper .image_placement {
    width: 200px;
    height: 200px;
    background-color: #ffa500;
    border-radius: 50%;
    border: solid 4px #fff;
    margin-bottom: 30px;
}

.user_profile_wrapper .image_placement p {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    color: #fff;
}

.user_project_row > div:first-of-type {
    margin-right: 10px;
}

.user_project_title.add_new_project {
    background-color: #f1f1f1;
}

.user_project_title.add_new_project h2 {
    color: #444;
}

.user_project_grid .user_project_wrapper .user_project .user_project_title {
    padding: 20px;
    border: solid 1px rgba(0,0,0,0.2);
}

.user_project_grid .user_project_wrapper a {
    text-decoration: none;
}

.user_project_grid .user_project_wrapper .user_project .user_project_title h2 {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
}

.user_project_grid .user_project_wrapper .user_project .user_project_title span {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}

.user_project_grid .user_project_wrapper .user_project .user_project_image {
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
}

.user_project_grid > .user_project_wrapper .user_project {
    background-color: #ffa500;
}

.user_project_grid > .user_project_wrapper.add_new_project .user_project {
    background-color: #e1e1e1;
}

.user_project_grid > .user_project_wrapper .user_project:hover {
    opacity: 0.9;
    cursor: pointer;
}

.user_project_grid > .user_project_wrapper.add_new_project .user_project h2,
.user_project_grid > .user_project_wrapper.add_new_project .user_project span {
    color: #444;
}